hr {
    margin-top: 40px;
    margin-bottom: 40px;
}

* {
    box-sizing: border-box;
}

.container {
    max-width: 500px;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 0 60px rgba(0, 0, 0, 0.1);
    padding: 50px 60px;
    transition: all 300ms ease;
}

.container:hover {
    box-shadow: 0 0 60px rgba(0, 0, 0, 0.2);
}

.counter-wrapper {
    text-align: center;
    padding: 30px;
    padding-bottom: 40px;
    box-sizing: border-box;
    box-shadow: 0 0 60px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

body {
    font-size: 18px;
    line-height: 25px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul li {
    font-size: 18px;
}

.counter-title {
    text-transform: uppercase;
    margin-top: 0;
}

.count {
    font-size: 40px;
}

.buttons {
    display: flex;
    gap: 20px;
    justify-content: center;
}

button {
    padding: 10px 15px;
    height: 40px;
}

.input-group {
    display: flex;
    gap: 10px;
}

label,
.form label {
    display: block;
    margin-bottom: 10px;
    font-size: 20px;
}

input,
.form input {
    display: block;
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    font-size: 18px;
    padding: 3px 10px;
}

h2.title {
    text-align: center;
    font-size: 30px;
}

.result {
    font-size: 30px;
    font-weight: bold;
}

.close {
    font-size: 14px;
    height: 20px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    border-radius: 50%;
    border: 1px solid red;
    color: red;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease;
    margin-left: 20px;
    cursor: pointer;
}

.skil-item:hover .close {
    opacity: 1;
    visibility: visible;
}